.dashboard-total-container {
    display: flex;
    flex-direction: row;
    margin: 0.5vw;
    height: 87vh;
}

.dashboard-sidebar-main-container {
    width: 22vw;
    box-shadow: 0 2px 8px 0 rgba(14, 13, 13, 0.678), 0 4px 20px 0 rgba(0, 0, 0, 0.603);
    padding:0.5vw;
    background-image: url("https://e0.pxfuel.com/wallpapers/249/8/desktop-wallpaper-chat-whatsapp-chat-thumbnail.jpg");
    color: rgb(255, 244, 244);
    height: 84vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: cover;
}

.sidebar-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid;
    height: 9vh;
    width: 21vw;
}

.sidebar-profile-heading {
    font-family: roboto;
    padding-left: 10px;
    font-size: 2vw;
}
.back-button{
    background-color: transparent;
    border: none;
    font-size: 2vw;
    color: white;
    margin-bottom: auto;
}

.sidebar-profil-icon{
    font-size: 1.4vw;
    font-weight: 100;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.sidebar-profile-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border: 2px solid white; /* Solid round border */
    border-radius: 50%; /* Makes the border round */
    font-size: 20px; /* Adjust font size as needed */
    text-align: center;
    line-height: 50px; /* Center text vertically */
  }
  
  .status-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: green; 
    border-radius: 50%; 
    top: 38px; 
    right: 5px; 
  }

  .unread-count{
    background-color: green;
    font-size: 0.8vw;
    height: 20px;
    width: 20px;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin-left: 1vw;
  }

.sidebar-profil-container-inactive,  .sidebar-profil-container-active{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;  
    border: none;
    color: white;
    cursor: pointer;
    width: 21vw;
    height: 4vw;
    margin-top: 1vh;
}
.sidebar-profil-container-active{
    background-image: url("https://e0.pxfuel.com/wallpapers/249/8/desktop-wallpaper-chat-whatsapp-chat-thumbnail.jpg");
    
}

.dashboard-chat-container {
    position: relative; /* Ensure the container is positioned relative for the pseudo-element */
    width: 76vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    margin-left: 6px;
    padding: 1vw;
}

.dashboard-chat-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.wallpapersafari.com/27/32/jt4AoG.jpg");
    background-size: cover;
    filter: blur(3px); /* Adjust the blur intensity as needed */
    z-index: 0; /* Ensure the blurred image is behind the content */
    pointer-events: none; /* Ensure the overlay doesn't interfere with interactions */
}

.dashboard-chat-container > * {
    position: relative; /* Ensure the child elements are above the pseudo-element */
    z-index: 1;
}

.last-seen{
    font-size: 1vw;
}
.last-seen-online{
    font-size: 1vw;
    color: green;
    font-weight: bold;
}




.dashboard-chat-main-container {
    width: 73vw;
    height: 9vh;
    padding: 0.5vw;
    border-radius: 5px;
    border: none;
    background-image: url("https://e0.pxfuel.com/wallpapers/249/8/desktop-wallpaper-chat-whatsapp-chat-thumbnail.jpg");

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 75vh;
    
    
}

.dashboard-input-text {
    width: 61vw;
    height: 7vh;
    padding-left: 0.5vw;
    border-radius: 5px;
    border: none;

}

.dashboard-input-text:focus {
    border: none;
    outline: none;
}

.dashboard-input-elements-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    width: 70vw;
    height: 7vh;
  padding-right: 0.7vw;
    border-radius: 10px;
    align-items: center;


}

.dashboard-text-emoji-button {
    font-size: 2.5vw;
    background-color: transparent;
    border: none;
    
}

.dashboard-text-emoji-container-send {
    font-size: 3vw;
    margin-left: 0.5vw;
    padding-left: 0.5vw;
    width: 3vw;
    color: rgb(14, 104, 84);
    cursor: pointer;
}

.dashboard-text-emoji-container-send:hover {
    color: rgb(248, 147, 15);
}

.dashboard-button {
    border: none;
    background-color: transparent;
}
.emoji-input{
    position: relative;
}

.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.dashboard-chat-box-container{
    height: 68vh;
    width: 73vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1vw;
}
.dashboard-chat-box-container::-webkit-scrollbar-thumb {
    background: rgb(153, 153, 250);
    border-radius: 10px;
}

.dashboard-chat-box-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
.dashboard-chat-box-container::-webkit-scrollbar {
    width: 5px;
}
.edit-bar-button{
    background-color: transparent;
    color: black;
    border: none;
}
.message-feature-button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1vw;
    
    align-self: flex-end;
}
.message-feature-empty-button{
    width: 30px;
    font-size: 15px;
}
.message-receiver, .message-sender{
    font-size: 1.5vw;
    background-image: url("https://e0.pxfuel.com/wallpapers/249/8/desktop-wallpaper-chat-whatsapp-chat-thumbnail.jpg");

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin:0.5vw ;
  
}
.message-time-container{
    display:flex ;
    flex-direction: column;
    justify-content: space-between;

}
.message-span{
    max-width: 20vw;
    overflow-wrap:break-word ;
    margin-right: 0.8vw;
}
.time-span{
 align-self: flex-end;
 font-size: 0.8vw;
}
.message-receiver{
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(189, 180, 180);
    background-image: none;
    color: rgb(27, 26, 26);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;


}
.edit-bar-container{
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 0.4vw;
    border: 1px solid black;
    flex-direction: row;
}
.add-people-button{
    border: 2px solid white;
    background-color: transparent;
    font-size: 2vw;
    height: 45px;
    width:45px;
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.search-input{
    width: 500px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
.search-input:focus{
    outline: none;
}
.message-input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dashboard-input-elements-container-select-stage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 7vh;
    background-color: white;
    padding-left: 0.7vw;
    align-items: center;
    border-radius: 10px;
}
.share-delete-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.selected-items{
    font-size: 1.2vw;
    font-weight: 600;
    padding-top: 1.5vh;
}
.name-search{
    font-family: roboto;
}