/* 1 */
.dashboard-total-container {
    display: flex;
    flex-direction: row;
    margin: 0.5vw;
    height: 87vh;
    overflow: hidden;
}

/* 2,2 */
.dashboard-sidebar-main-container {
    width: 22vw; /* Default width for desktop */
    box-shadow: 0 2px 8px 0 rgba(14, 13, 13, 0.678), 0 4px 20px 0 rgba(0, 0, 0, 0.603);
    padding: 0.5vw; /* Default padding */
    background-image: url("https://e0.pxfuel.com/wallpapers/249/8/desktop-wallpaper-chat-whatsapp-chat-thumbnail.jpg");
    color: rgb(255, 244, 244);
    height: 84vh; /* Fixed height */
    overflow-y: auto;
    overflow-x: hidden;
    background-size: cover;
}

/* 3,3 */
.sidebar-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid;
    height: 9vh;
    width: 21vw;
}

/* 4 */
.back-button {
    background-color: transparent;
    border: none;
    font-size: 2vw;
    color: white;
    margin-bottom: auto;
}

/* 5 */
.search-input{
    height: 5vh;
    width: 20vw;
    border-radius: 20px;
    padding-left: 1vw;
    border: none;
}
.search-input:focus{
    outline: none;
}

/* 6,6 */
.sidebar-profil-container-inactive, .sidebar-profil-container-active {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    width: 21vw;
    height: 4vw;
    margin-top: 1vh;
}

/* 6,6 */
.sidebar-profil-container-active {
    background-image: url("https://e0.pxfuel.com/wallpapers/249/8/desktop-wallpaper-chat-whatsapp-chat-thumbnail.jpg");
}

/* 7,7,7 */
.sidebar-profile-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    border: 2px solid white; 
    border-radius: 50%; 
    font-size: 1.2vw; 
    text-align: center;
    line-height: 50px; 
}

/* 8,8,8 */
.sidebar-profile-heading {
    font-family: Roboto, sans-serif;
    padding-left: 10px;
    font-size: 1.5vw;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width: 100%; 
}

/* 9 */
.status-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    top: 38px;
    right: 5px;
}

/* 10 */
.unread-count {
    background-color: green;
    font-size: 0.8vw;
    height: 20px;
    width: 20px;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin-left: 1vw;
}

/* 11 */
.dashboard-chat-container {
    position: relative;
    width: 76vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    margin-left: 6px;
    padding: 1vw;
}

/* 11 */
.dashboard-chat-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.wallpapersafari.com/27/32/jt4AoG.jpg");
    background-size: cover;
    filter: blur(3px);
    z-index: 0;
    pointer-events: none;
}

/* 11 */
.dashboard-chat-container > * {
    position: relative;
    z-index: 1;
}

/* 12 */
.name-search{
    color: black;
}

/* 13 */
.last-seen-online {
    color: green;
    font-weight: bold;
}

/* 13,14 */
.last-seen-online, .last-seen {
    font-size: 1vw;
}

/* 15 */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 16 */
.dashboard-chat-box-container {
    height: 65vh;
    width: 73vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1vw;
}

/* 16 */
.dashboard-chat-box-container::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

/* 16 */
.dashboard-chat-box-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* 16 */
.dashboard-chat-box-container::-webkit-scrollbar {
    width: 5px;
}

/* 17 */
.message-input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* 18 */
.select-input {
    margin-right: 5px;
}

/* 19 */
.message-sender {
    background-image: url("https://e0.pxfuel.com/wallpapers/249/8/desktop-wallpaper-chat-whatsapp-chat-thumbnail.jpg");
    color: white;
    background-size: cover;
    align-self: flex-end;
}

/* 19,20 */
.message-sender, .message-receiver {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1vw;
    display: flex;
    flex: row;
    justify-content: space-between;
    max-width: 40vw;

}

/* 20 */
.message-receiver {
    background-color: white;
    color: black;
    align-self: flex-start;
}

/* 21 */
.message-time-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 10vw;
}

/* 21 */
.message-span{
    font-size: 1.5vw;
    font-family: roboto;
    word-wrap: break-word;    
    word-break: break-word;   
    overflow-wrap: break-word; 
    white-space: normal;      
    line-height: 1.5;
}

/* 22 */
.message-feature-button, .message-feature-empty-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1vw;
}


/* 23 */
.message-feature-empty-button {
    width: 30px;
    font-size: 1vw;
}

/* 24 */
.time-span {
    font-size: 0.8vw;
    margin-left: 5px;
}
.single-tik, .double-tik, .double-tik-blue{
    font-size: 1.5vw;
    margin-left: 0.2vw;
}
.double-tik-blue{
    color: rgb(56, 143, 250);
}

/* 25 */
.edit-bar-container{
    background-color: white;
}

/* 26 */
.edit-bar-button {
    background-color: transparent;
    color: black;
    border: none;
}

/* 27 */
.emoji-input{
    font-size: 3vw;
}

/* 28 */
.dashboard-chat-main-container {
    width: 73vw;
    height: 9vh;
    padding: 0.5vw;
    border-radius: 5px;
    background-image: url("https://e0.pxfuel.com/wallpapers/249/8/desktop-wallpaper-chat-whatsapp-chat-thumbnail.jpg");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 75vh;
}

/* 1 */
.dashboard-input-elements-container-select-stage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 7vh;    
    background-color: white;
    padding-left: 0.7vw;
    align-items: center;
    border-radius: 10px;
}

/* 1 */
.dashboard-input-text {
    width: 61vw;
    height: 7vh;
    padding-left: 0.5vw;
    border-radius: 5px;
    border: none;
}

/* 1 */
.dashboard-input-text:focus {
    border: none;
    outline: none;
}

/* 1 */
.dashboard-input-elements-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 7vh;
    padding-right: 0.7vw;
    border-radius: 10px;
}

/* 1 */
.dashboard-text-emoji-button {
    font-size: 2.5vw;
    background-color: transparent;
    border: none;
}

/* 1 */
.dashboard-text-emoji-container-send {
    font-size: 3vw;
    margin-left: 0.5vw;
    padding-left: 0.5vw;
    width: 3vw;
    color: rgb(14, 104, 84);
    cursor: pointer;
}

/* 1 */
.dashboard-text-emoji-container-send:hover {
    color: rgb(248, 147, 15);
}

/* 1 */
.dashboard-button {
    border: none;
    background-color: transparent;
}








/* 1 */
.selected-items {
    font-size: 1vw;
    font-weight: bold;
    color: black;
}

/* 1 */
.share-delete-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .sidebar-profile-icon {
        width: 45px; 
        height: 45px; 
        border: 1.8px solid white; 
        font-size: 2vw; 
        line-height: 45px; 
    }
    .sidebar-profil-container-inactive, 
    .sidebar-profil-container-active {
        width: 25vw; 
        height: 7vw; 
        font-size: 1.2rem; 
    }
    .search-input {
        height: 6vh;
        width: 25vw; 
        padding-left: 1.5vw; 
        border-radius: 18px; 
    }
    .dashboard-sidebar-main-container {
        width: 25vw; 
        padding: 1vw;
    }
    .sidebar-profile-container {
        padding: 8px; 
        height: 7vh; 
        width: 23vw; 
    }
   
}

@media (max-width: 768px) {
    .sidebar-profile-icon {
        width: 40px; 
        height: 40px; 
        border: 1.5px solid white; 
        font-size: 2.5vw; 
        line-height: 40px; 
    }
    .sidebar-profil-container-inactive, 
    .sidebar-profil-container-active {
        width: 30vw; 
        height: 8vw; 
        font-size: 1.1rem; 
    }
    .search-input {
        height: 6.5vh;
        width: 25vw; 
        padding-left: 2vw; 
        border-radius: 15px; 
    }
    .dashboard-sidebar-main-container {
        width: 30vw; 
        padding: 1.5vw; 
    }
    .sidebar-profile-container {
        padding: 8px; 
        height: 7vh; 
        width: 26vw; 
    }

    
}

@media (max-width: 480px) {
    /* 1 */
    .dashboard-total-container{
        height: 93vh;
        flex-direction: column;
    }

    /* 2 */
    .dashboard-sidebar-main-container {
        width: 100%;
        height: 40vh;
        height: auto;
    }

    /* 8,8,8 */
    .sidebar-profile-heading {
        font-size: 5vw;
    }

    /* 5,5 */
    .chatted-users-container{
        height: 9vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    /* 6,6 */
    .sidebar-profil-container-inactive, .sidebar-profil-container-active {
        height: auto;
        padding: 10px;
        width: 96vw;
    }

    /* 11 */
    .dashboard-chat-container {
        width: 100%;
        height: 80vh;
    }

    /* 15 */
    .chat-container{
        width: 95vw;
    }

    /* 16 */
    .dashboard-chat-box-container {
        height: 60vh;
        width: 95vw;
    }

    /* 28 */
    .dashboard-chat-main-container {
        top: 66vh;
        height: 7vh;
        width: 95vw;
    }

    /* 1 */
    .dashboard-input-text {
        width: 75%;
        font-size: 4vw;
        margin-left: 1vw;
    }

    /* 1 */
    .dashboard-input-elements-container {
        width: 86vw;
        height: 6vh;
        padding-right: 0.7vw;
        border-radius: 10px;
        margin-left: 1vw;
    }

    /* 1 */
    .dashboard-text-emoji-container-send {
        font-size: 8vw;
    }

    /* 3 */
    .sidebar-profile-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 2px solid;
        height: 9vh;
        margin: 1vw;
        width: 96vw;
    }
    /* 4 */
    .back-button {
        border: none;
        font-size: 5vw;
        color: white;
        margin-bottom: auto;
    }
    /* 5 */
    .search-input{
        height: 5vh;
        width: 80vw;
        border-radius: 20px;
        padding-left: 3vw;
        border: none;
    }
    /* 9 */
    .status-dot {
        top: 30px;
    }

    /* 19,20 */
    .message-sender, .message-receiver {
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 5px;
        font-size: 2.2vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 60vw;
    }
    /* 21 */
    .message-time-container {
        display: flex;
        flex-direction: column;
        height: 4vh;
    }
    /* 21 */
    .message-span{
        font-size: 3vw;
        font-family: roboto;
        word-wrap: break-word;    
        word-break: break-word;   
        overflow-wrap: break-word; 
        white-space: normal;      
        line-height: 1.5;
    }
    /* 24 */
    .time-span {
        font-size: 1.5vw;
        margin-left: 5px;
    }
    
    /* 1 */
    .dashboard-input-elements-container-select-stage{
        width: 85vw;
        height: 6vh;    
    }
    /* 1 */
    .selected-items {
        font-size: 3vw;
        font-weight: bold;
        color: black;
        padding: 0px;
    }
}
