.sign-main-container {
  position: relative;
  height: 88vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.sign-main-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/images/5fz9SMYxWbv44jFVcD4vmd-1200-80.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Adjust the blur value as needed */
  z-index: -1; /* Ensures the background stays behind the content */
}

/* Ensure that the content of the container is positioned above the blurred background */
.sign-main-container > * {
  position: relative;
  z-index: 1;
}
  .sign-heading{
    font-size: 35px;
    font-family: roboto;
    text-align: center;
  }


  .sign-form-full-container{
   width: 500px;
   height: 620px;
   box-shadow: 0 2px 8px 0 rgba(14, 13, 13, 0.678), 0 4px 20px 0 rgba(0, 0, 0, 0.603);
   padding: 30px;
   background-color: white;
   border-radius: 10px;

  }
  .input-full-container{
    display: flex;
    flex-direction: column;
  }
  .signin-image{
 height: 500px;
 margin-top: 60px;
  }
  .sign-input-tag{
    padding: 5px;
    margin-top: 5px;
  }
  .sign-paragraph{
    font-size: 18px;
    margin-top: 5px;
  }
  .sign-input-tag-submit{
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(30, 66, 119);
    color: white;
    font-size: 20px;
    font-weight: bold;

  }
  .sign-input-tag-submit:hover{

    background-color: rgb(209, 144, 4);

  }
  .keep-login{
    align-self: flex-end;
    font-weight: 600;
    font-family: "Roboto";
  }