.Navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95vw;
    background-color: aqua;
}
.navbar-elements{
    margin: 1.5vw;
    font-weight: bold;
    font-family: roboto;
    text-decoration:none;
    font-size: 2.3vh;
}